html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
} 

/* blue container, first container */

.dark-blue {
    background-color: #1f2937;
    display: flex;
    flex: 1 1 0;
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5%;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    flex: 1 1 auto;
}

.links {
    font-size: 18px;
    display: flex;
    flex-shrink: 1;
    gap: 1rem;
    flex-wrap: wrap;
}

.link-text {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5%;
}

@media (max-width: 600px) {
  .about {
    flex-direction: column;
    min-width: 70%;
  }
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    width: 95%;
    display: flex;
    flex: 1 1 auto;
    padding-bottom: 1rem;
}

.secondary-text {
    padding-bottom: .5rem;
    font-size: 18px;
    max-width: 80%;
    color: #e5e7eb;
    display: flex;
    flex: 1 1 auto;
    justify-content: start;
    padding-bottom: 1rem;
}

.about-text {
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
}

.button-one {
    background-color: #1DB954;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 10px;
    width: 92px;
    height: 20px;
    padding: 8px;
    text-align: center;
}


.button-one:hover {
    color:  #F9FAF8;
    font-weight: bold;
    background-color: #126e32;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(224, 224, 224, 0.020), 0 7px 10px 0 rgba(238, 238, 238, 0.025);
    width: 92px;
    height: 20px;
    padding: 8px;
    text-align: center;
}

.button-text {
    color: #F9FAF8;
}

.button-text:hover {
    color: #F9FAF8;
}

.header-image {
    width: 50%;
    height: 18%;
    border-radius: 2px;
    display: flex;
    flex-shrink: 0;
}

/* second container, information */

.information-header-text {
    font-size: 36px; 
    color: #1f2937;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
    flex: 1 1 auto;
}

.image img {
    width: 17rem;
    height: 17rem;
    border: none;
    border-radius: 2px;
    display: flex;
}

.image img:hover {
    width: 17rem;
    height: 17rem;
    border: none;
    border-radius: 2px;
    box-shadow: 0 5px 12px 0px rgba(8, 8, 8, 0.199);
}

.subtext {
    color: #1f2937;
    width: 17rem;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.image-subtext {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1%;
    flex-wrap: wrap;
    padding-bottom: 8rem;
}

/* third container, quote container */

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding-left: 25%;
    padding-right: 20%;
    padding-bottom: 10%;
    padding-top: 10%;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
    width: 100%;  
    padding-bottom: 0;
}

.author {
    font-size: 24px;
    color: #1f2937;
    font-weight: 900;
    width: 90%;
    display: flex;
    flex-shrink: 1;
    padding-left: 70%;
}

/* fourth container, box action */

.action {
    background-color:#F9FAF8;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.box-action {
    background-color: #1DB954;
    border-radius: 2px;
    box-shadow: 0 5px 8px 0px rgba(8, 8, 8, 0.145);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    flex-wrap: wrap;
    width: 50%;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 2rem;
}

.action-title {
    font-size: 32px;
    color: #F9FAF8;
    font-weight: bolder;
    display: flex;
    flex-shrink: 1;
}

.action-subtext {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    flex-shrink: 1;
}

.button-two {
    background-color: #1DB954;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #F9FAF8;
    width: 90px;
    height: 20px;
    padding: 5px;
    text-align: center;
}

.button-two:hover {
    color: #1DB954;
    font-weight: bold;
    background-color: #F9FAF8;
    border-radius: 10px;
    width: 90px;
    height: 20px;
    padding: 5px;
    text-align: center;
}

.button-text-two {
    color: #F9FAF8;
}

.button-text-two:hover {
    color: #1DB954;
}

/* Footer */

footer {
    color: #e5e7eb;
    font-weight: lighter;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
