body {
    margin: 0;
} 

/* blue container, first container */

.header, .about {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    padding-left: 150px;
}

.links {
    font-size: 18px;
    display: flex;
    gap: 16px;
    padding-right: 150px;
}

.link-text {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.about-text {
    padding-left: 150px;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    width: 300px;
    margin-bottom: 5px;
}

.button-one {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 10px;
    width: 90px;
    height: 20px;
    padding: 5px;
    text-align: center;
}

.button-one:hover {
    color:  #F9FAF8;
    font-weight: bold;
    background-color: #1c5dc5;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(224, 224, 224, 0.020), 0 7px 10px 0 rgba(238, 238, 238, 0.025);
    width: 90px;
    height: 20px;
    padding: 5px;
    text-align: center;
}

.button-text {
    color: #F9FAF8;
}

.button-text:hover {
    color: #F9FAF8;
}

.secondary-text {
    width: 360px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.header-image {
    width: 500px;
    height: 250px;
    padding-right: 150px;
}

/* second container, information */

.information-header-text {
    font-size: 36px; 
    color: #1f2937;
    font-weight: bolder;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.image {
    width: 150px;
    height: 155px;
    border: 2px solid #3882f6;
    border-radius: 15px;
}

.subtext {
    color: #1f2937;
    width: 150px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 100px;
}

.image-subtext {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    gap: 40px;
}

/* third container, quote container */

.quote {
    background-color: #e5e7eb;
    height: 500px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    width: 740px;  
    padding: 150px 320px;
    padding-bottom: 5px;
}

.author {
    font-size: 24px;
    color: #1f2937;
    font-weight: bolder;
    padding-top: 5px;
    padding-left: 780px;
}

/* third container, box action */

.action {
    background-color:#F9FAF8;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-action {
    background-color: #3882f6;
    height: 130px;
    width: 760px;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0px rgba(8, 8, 8, 0.145);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-title {
    font-size: large;
    color: #F9FAF8;
    font-weight: bolder;
}

.action-subtext {
    color: #e5e7eb;
    font-weight: lighter;
}

.button-two {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #F9FAF8;
    width: 90px;
    height: 20px;
    padding: 5px;
    text-align: center;
}

.button-two:hover {
    color:  #3882f6;
    font-weight: bold;
    background-color: #F9FAF8;
    border-radius: 10px;
    width: 90px;
    height: 20px;
    padding: 5px;
    text-align: center;
}

.button-text-two {
    color: #F9FAF8;
}

.button-text-two:hover {
    color: #3882f6;
}
